.images_container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.button {
	margin: 30px;
}
.button:hover {
	background-color: grey;
	size: 40px;
	color: white;
	cursor: pointer;
}
.fade-in {
	visibility: visible;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.imageNotExits {
	visibility: hidden;
}
.loading {
	min-height: 500px;
	display: flex;
	align-items: center;
}
